.textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(26, 183, 234);
    border-radius: 7px;
    margin: 0 0 10px 0;
    resize: none;
    height: 100px;
}

.textarea:focus {
    border: 1px solid gold;
    box-shadow: 0 0 3px gold;
}