.button {
    padding: 5px 15px;
    border: none;
    background: rgb(26, 183, 234);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
}
