.profileContainer {
    display: flex;
    padding: 30px;
}

.profilePic {
    flex: 0 0 20%;
    align-self: flex-start;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 60px 0 0;
    padding: 15px;
    background-color: white;
}

.profilePic img {
    width: 100%;
}

.profile {
    width: 100%;
    flex: 0 0 80%;
}

.profileInfo {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 20px;
}

.profileTitle {
    font-size: 24px;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #737373;
}

.gridContainer {
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 10px;
}

.photos {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.photosTitle {
    font-size: 24px;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #737373;
}

