.profileContainer {
    display: flex;
    padding: 30px;
}

.profilePic {
    flex: 0 0 20%;
    align-self: flex-start;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 60px 0 0;
    padding: 15px;
    background-color: white;
}

.profilePic img {
    width: 100%;
}

.profile {
    width: 100%;
    flex: 0 0 80%;
}



.gridContainer {
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 10px;
}

.postItem {
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: #f0f0f3;
    border-radius: 5px;
}

.postTitle {
    margin-bottom: 5px;
    font-weight: bold;
}



