.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(26, 183, 234);
}

.navbarInner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 80px;
}

.logo img {
    width: 100%;
}

.navbarLinks {
    flex: 0 1 60%;
    display: flex;
    margin: 0 0 0 100px;
}

.navbarLinks a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.navbarLinks a:hover {
    color: #cccccc;
}
