* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background: azure;
}

textarea, input, button {
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  border: 10px solid red;
}





.posts-notification {
  text-align: center;
  font-size: 26px;
}

.post__btns {
  display: flex;
}

.page__wrapper {
  margin: 30px 0;
}

.page {
  padding: 10px;
  border: 1px solid aquamarine;
  cursor: pointer;
}

.page__current {
  font-weight: bold;
  border: 1px solid red;
}

