.postContainer {
    padding: 30px 0;
}

.commentsContainer {
    padding: 30px 30px 10px 30px;
}

.post {
    background: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.postTitle {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.commentsTitle {
    margin: 0 0 15px 0;
}

.commentItem {
    background-color: #f0f0f3;
    padding: 10px;
    border-radius: 10px;
}

.commentItem:not(:last-child) {
    margin: 0 0 15px 0;
}